.idea

.env
node_modules/
coverage/
dist/
package-lock.json

storage/figma/*
storage/images/*
storage/indexes/*
storage/metadata/*

!storage/figma/.gitkeep
!storage/images/.gitkeep
!storage/indexes/.gitkeep
!storage/metadata/.gitkeep